<div class="container-fluid">
    <div class="row" *ngIf="noData">
        <div class="col">
    
            <div class="col col-12 col-md-10 offset-md-1">
                <div class="alert alert-warning" role="alert">
                    No se encontraron datos de equipos.
                </div>
            </div>
    
        </div>
    </div>
    
    <div class="row" *ngIf="!noData">
        <div class="col">
    
            <div [chart]="chart"></div>
    
        </div>
    </div>
</div>

