.grid-params-cont .card-header{
    font-size: 0.75rem;
}

.grid-params-cont .card-body{
    font-size: 0.75rem;
    padding: 0.5rem;
    font-size: 0.75rem;
}

.form-cont{
    background-color: #efefef;
    
}