/* You can add global styles to this file, and also import other style files */

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
    pointer-events: none;
}

.nav-tabs .nav-link.active {
    border-top-color: #28a745;
    border-top-width: 4px;
}

